{% extends "base.html" %}

{% block content %}

</main>
	<section class="introduction">
		<h2>Exam Calculator </h2>
		<h3> Hello {{current_user.username}}</h3>

		

			<p>This is my second website. I am learning <strong>Flask</strong> to provide a backend for my basic exam calculator app and styling the content with <em>Vanilla</em> CSS</p>
			<p>This app will have a user login system to allow users to calculate what <strong>Exam Mark</strong>they require to pass their various courses</p>
	</section>
	<section class="current-stack">
		<h2> Current stack </h2>

			<ul class='general'>
				<li><strong>Backend Server</strong>: Flask</li>
				<li><strong>Database</strong>: SQL Lite</li>
				<li><strong>HTML</strong>: Jinja</li>
				<li><strong>Styling</strong>: Vanilla CSS</li>
			</ul>
	</section>
</main>
{% endblock %}
